<%- include('includes/header') %>

    <div class="page-title">

        <h1>Certificates</h1>

    </div>

    <div class="flex-horizontal">
        <% if(certs.length === 0){ %>
            <div>
                <span> There were no certificates that match your criteria</span>
            </div> 
        <% } else {
            certs.forEach(certificate => { %>
                <div class="certificate">
                    <a href="/certificate-details/<%= certificate._id %>"><img src="<%= certificate.image_src %>" alt="<%= certificate.name %>" class="certificate-image"></a>
                    <figcaption> <%= certificate.name %> </figcaption>
                </div>  
            <% }) 
         } %>
    </div>

    <div class="page-redirect">

        <h1><a href="/"> Return to the homepage</a></h1>

        <h1><a href="/filter-certificates"> Search again </a></h1>

    </div>

<%- include('includes/footer') %>