<%- include('includes/header') %>

    <div class="page-title">

        <h1>Certificate Detail</h1>

    </div>

    <div class="flex-vertical">
        <img src="<%= certificateDetails.image_src %>" alt="<%= certificateDetails.name %>" class="certificate-image">
        <span><%= certificateDetails.name %></span>
        <span><%= certificateDetails.topic %></span>
        <span><%= certificateDetails.source %></span>
        <span><%= certificateDetails.description %></span>
    </div>

    <div class="page-redirect">

        <h1><a href="/delete/<%= certificateDetails._id%>"> Delete Certificate</a></h1>

        <h1><a href="/"> Return to the homepage</a></h1>

        <h1><a href="/filter-certificates"> Search again </a></h1>

    </div>

<%- include('includes/footer') %>